/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

ol, ul {
  list-style: none;;
}

body {
  background-color: #540B51;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 48em) {
  /* NAVIGATION */

  .nav-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2rem;
    border-bottom: 0.05rem solid #652362;
    padding: 1.2rem 0 2rem 0;
  }

  .logo-list-container {
    width: 100%;
    margin: 0 auto;
  }

.logo-list-container img {
  width: 9rem;
  padding-left: 1.2rem;
}

.nav-button-container {
  display: flex;
}

.nav-button-container button {
  background-color: #540B51;
  border: none;
  padding: 0 1.2rem 0 1.2rem;
}


  .nav-ul-container {
    display: none;
  }

  /* HEADER */

  header {
    /* padding: 0 1.2rem 0 1.2rem; */
    margin-bottom: 1.6rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .header-box h1 {
    color: #fefdfc ;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1.6rem;
    padding: 0 1.2rem 0 1.2rem;
  }

  .header-box p {
    color: #fefdfc ;
    font-weight: 500;
    margin-bottom: 1.2rem;
    font-size: 0.8rem;
  }

  .header-box p span {
    color: #ECB12F;

  }

  .header-button-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    margin-bottom: 1.6rem;
  }

  .header-button-box button {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
  }

  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285F4 ;
    gap: 5px;
    color: #F3EAE2;
    padding: 0.5rem;

  }

  .btn-signup {
    color: #540B51;
    padding: 1rem;
  }

  

  .btn-google-img {
    width: 2rem ;
    height: 2.2rem ;
    background-color:#F3EAE2 ;
    padding: 5px;
    border-radius: 2px;
}

.header-img-box {
  width: 100%;
  overflow: hidden;
}

.header-img-box img {
  width: 147%; 
}

/* COMPANIES SECTION */
.companies-section {
  background-color: #F3EAE2 ;
  padding: 2.4rem 1.2rem 2.4rem 1.2rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem ;
}

.companies-section p {
  font-size: 0.9rem ;
  text-transform: uppercase;
  font-weight: 700;
}

.companies-box {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.2rem;

}

.img-size1 {
  width: 6rem;
}
.img-size2 {
  width: 4rem;
}

.img-size3 {
  width: 8rem;
}

.img-size4 {
  width: 13rem;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: #F3EAE2;
  gap: 2rem;
  padding-right: 0.9rem;
  
}

.hero-section-revesre {
  display: flex;
  flex-direction: column-reverse;
  background-color: #F3EAE2;
  gap: 2rem;
  padding-left: 0.9rem;
}

.hero-img {
  width: 100%;
}

.hero-description-box {
  padding-left: 0.5rem;
  margin-bottom: 3.4rem;
}

.hero-description-box h2 {
  margin-bottom: 1.2rem;
  color:#191817 ;
}

.hero-description-box p {
  color: #000000;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.hero-description-box a:link, .hero-description-box a:active {
text-decoration: none;
color: #2E71A6;
font-size: 0.9rem;
}

/* CONTACT SECTION */
.contact-section {
  background-color: #fefdfc ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.2rem 0.5rem 2.4rem 0.5rem;
  text-align: center;
}

.contact-section h3 {
  font-size: 1.6rem;
  color: #191817;
  margin-bottom: 1rem;
}

.contact-text {
  color: #000000;
  line-height: 1.5;
  font-size: 0.9rem;
  margin-bottom: 1.1rem;
}

.contact-button-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.btn {
  width: 95%;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
  border-radius: 5px;
  border: solid 2px #540B51;
  font-weight: 700;

}

.design1 {
  background-color: #540B51;
  color: white;
}

.design2 {
  background-color: #fefdfc;
  color: #540B51;
}

.contact-item span {
  font-size: 2.4rem;
  font-weight: 700;
  color: #540B51;
}

.contact-text {
  color: #000000;
  font-weight: 700;
  font-size: 0.7rem;
}

.text-survey {
  font-size: 0.7rem;
  line-height: 1.5;
  color: #b5b3b5;
}

.text-survey sup {
  color: #000000;
}

/* SIGNUP SECTION */

.section-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 0 1.2rem;
}

.section-signup h3 {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 1.6rem;
}

.border-color {
  border: 1px solid white;
  margin-bottom: 0.8rem;
}

/* FOOTER SECTION */
footer {
  background-color: #fefdfc;
  padding: 2rem 0.8rem 2rem 0.8rem;
}
footer img {
  width: 2.8rem;
  margin-bottom: 2.2rem;
}

.footer-box {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  gap: 10px;
}

.footer-box li {
  padding: 10px;
  color: #454245;
}
ul .list-title {
  color: #000000;
  margin-bottom: 1rem;
  font-weight: 700;
}

hr {
  height: 5px;
  border: 0px solid #ececec;
  border-top-width: 1px ;
  margin: 2rem 0 2rem 0;
}

.list-footer li {
  font-size: 0.8rem;
  color: #000000;
  font-weight: 700;
  margin-bottom: 1.6rem;

}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  
}
}